.card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 500px;
	flex-grow: 1;
}

.card>*{
	border: 1px solid green;
	flex-basis: 60px;
	flex-grow: 1;
}

.card-top{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.authorInfo{
	display: flex;
	justify-content: flex-start;
}

.card-main{
	flex-basis: 300px;
	display: flex;
	align-self: center;
	width: 100%;
	flex-direction: column;
}

.card-main>*{
	flex-basis: 150px;
	border: 1px solid red;
	flex-grow: 1;
}

.card-image-bg{
	flex-basis: 180px;
}

.card-preview-text{
	flex-basis: 20px;
}

div.card-bottom{
	/*flex-basis: 100px;*/
}

@media screen and(min-width: 768px){
	.card-main{
		width: 80%;
	}
}