.card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 500px;
	flex-grow: 1;
}

.card div{
	border: 1px solid green;
	flex-basis: 100px;
	flex-grow: 1;
}

div.card-top{
	/*flex-basis: 100px;*/
}

div.card-main{
	flex-basis: 300px;
	display: flex;
	align-self: center;
	width: 80%;
}

div.card-bottom{
	/*flex-basis: 100px;*/
}