@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
	margin: 0;
	font-family: "Nunito";
	--base-color: #FFE779;
}

.cardBoard{
	/*border: 1px solid black;*/
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	/*width: 90%;*/
}

@media screen and (min-width: 768px){
	.cardBoard{
		/*width: 50%;*/
	}
}